 
@font-face {
  font-family: 'vishnu-fo-';
  src:  url('fonts/vishnu-fo-.eot?cewjxn');
  src:  url('fonts/vishnu-fo-.eot?cewjxn#iefix') format('embedded-opentype'),
    url('fonts/vishnu-fo-.ttf?cewjxn') format('truetype'),
    url('fonts/vishnu-fo-.woff?cewjxn') format('woff'),
    url('fonts/vishnu-fo-.svg?cewjxn#vishnu-fo-') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vis-icon-"], [class*=" vis-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vishnu-fo-' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vis-icon-github:before {
  content: "\eab0";
}
.vis-icon-file-pdf:before {
  content: "\eadf";
}
